<launch> 
    <include file="$(find mavros)/launch/px4.launch" />
    
    <include file="$(find livox_ros_driver2)/launch/msg_MID360.launch" />

    <include file="$(find fast_lio)/launch/mapping_mid360.launch" />

    <node name='lidar_to_mavros' pkg="bringup" type="lidar_to_mavros.py" output="screen" />
    
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_d435" args="0.07 0 -0.025 0 0 0 1 base_link d435_link" />

    <node name="emat" pkg="emat" type="emat_thickness_gauge_node" output="screen">
        <param name="read_interval_ms" value="100" />
        <param name="chunk_delay_ms" value="30" />
        <param name="read_timeout_ms" value="500" />
        <param name="max_startup_retries" value="30" />
        <param name="max_consecutive_failures" value="5" />
        <param name="reconnect_delay_s" value="3" />
    </node>
    
  <node pkg="emat" type="emat_feature_extractor.py" name="emat_feature_extractor"
        output="screen" cwd="node">
    <!-- topics -->
    <param name="waveform_topic" value="/emat/waveform" />
    <param name="features_topic" value="/emat/features" />
    <param name="envelope_topic" value="/emat/envelope" />

    <!-- detection -->
    <param name="arrival_threshold" value="0.1" />
    <param name="speed_of_sound" value="3240.0" />

    <!-- waveform geometry -->
    <param name="sampling_rate" value="1000000.0" />
    <param name="slice_start" value="200" />
    <param name="slice_end" value="1000" />

    <!-- envelope lowpass filter -->
    <param name="lp_cutoff" value="10.0" />
    <param name="lp_order" value="4" />
  </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_actuator" args="0.435 -0.05 -0.16 0 0 0 1 base_link actuator_link" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_dummyactuator" args="0.725 -0.05 -0.16 0 0 0 1 base_link dummyactuator_link" />

    <node launch-prefix="bash -c '{ sleep 2 &amp;&amp; xdotool search --name RViz windowmaximize --sync; } &amp; exec $0 $@' " pkg="rviz" type="rviz" name="rviz" args="-d $(find bringup)/config/rviz.rviz" />
</launch>
