<launch>
  <node name="emat" pkg="emat" type="emat_thickness_gauge_node" output="screen">
    <param name="read_interval_ms" value="100" />
    <param name="chunk_delay_ms" value="10" />
    <param name="read_timeout_ms" value="500" />
    <param name="max_startup_retries" value="30" />
    <param name="max_consecutive_failures" value="5" />
    <param name="reconnect_delay_s" value="3" />
  </node>
</launch>
