<launch>
  <arg name="duration" default="0" />
  <arg name="output_dir" default="$(find record)/bags" />
  <arg name="prefix" default="multimodal" />

  <node pkg="rosbag" type="record" name="bag_recorder"
        args="-o $(arg output_dir)/$(arg prefix)
              /emat/waveform
              /mavros/local_position/odom
              /d435/color/image_raw
              /d435/aligned_depth_to_color/image_raw
              /mavros/setpoint_raw/local
              /ndt_normal/target_pose_d435
              --duration=$(arg duration)"
        output="screen" />
</launch>
